version: '3.7'

volumes:
  sql_v1:
  html:
services:
   nginx:
      image: nginx
      container_name: nginx
      ports:
        - '80:80'
        - '443:443'
      volumes:
        - ./html:/usr/share/nginx/html/
        - ./nginx:/etc/nginx/conf.d
      depends_on: 
       - php
       - mysql
     
   mysql:
      image: mysql
      container_name: mysql
      volumes:
        - ./sql-vl:/var/lib/mysql/
      env_file: ./db.env
      
   php:
      image: bitnami/php-fpm
      container_name: php-fpm
      volumes:
        - ./html:/usr/share/nginx/html/
  

