version: '3.7'

#volumes:
#  sql_v1:
services:
   nginx:
      image: nginx
      container_name: nginx
      ports:
        - '80:8080'
      volumes:
        - ./html:/usr/share/nginx/html/
        - ./nginx:/etc/nginx/conf.d
      depends_on: 
       - php
       - mysql
     
   mysql:
      image: mysql
      container_name: mysql
      volumes:
        - ./sql-vl:/var/lib/mysql/
      env_file: ./db.env
      
   php:
      build:
        context: ./php
        dockerfile: php-file
      container_name: php-fpm
      volumes:
        - ./html:/usr/share/nginx/html/
  

