version: '3.7'

services:
   nginx:
      image: nginx:1.19.2
      ports:
        - '8080:80'
      volumes:
        - ./html:/usr/share/nginx/html/
        - ./nginx:/etc/nginx/conf.d
        - ./sql-vl:/var/lib/mysql/
      depends_on: 
       - php
       - mysql
       - bitrix
     
   mysql:
      image: mysql:8.0
      command:
        --sql_mode=""
        --default_time_zone="+03:00"
        --default-authentication-plugin=mysql_native_password
        --character-set-server=utf8
        --collation-server=utf8_unicode_ci
        --innodb_flush_log_at_trx_commit=2
        --transaction_isolation=READ-COMMITTED
        --innodb_flush_method=O_DIRECT
        --innodb_file_per_table=1
        --sync_binlog=0
        --binlog_cache_size=0
      volumes:
        - ./sql-vl:/var/lib/mysql
      env_file: ./db.env
      
   php:
      build:
        context: ./php
        dockerfile: php-file
      volumes:
        - ./html:/usr/share/nginx/html/

   bitrix:
      build:
        context: ./bitrix
      command: bash bitrix-install.sh
      volumes:
        - ./html:/var/www/html 
  

